*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: url('./cursor.png'),auto;
}
::-webkit-scrollbar{
    background-color: #000000b7;
    backdrop-filter: blur(5px);
    width: 1vw;
}
nav{
    width: 100vw;
    height: 5vh;
    background-color: #00000048;
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    align-items: center;
    padding: 36px;
    justify-content: space-around;
    position: sticky;
   top: 0;
   z-index: 21;
}
nav button{
    padding: 0.5vw 2vw 0.5vw 2vw;
    color: #000;
    font-weight: 400;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    border: none;
    cursor: pointer;
   background: transparent;
   border: 1px solid white;
   color: white;
   
}
nav button:hover{
    scale: 1.03;
    transition: 0.5s ease;
}
.searchCreate{
    display: flex;
    align-items: center;
    gap:20px;
}
#Search{
    padding: 0.5vw 2vw 0.5vw 2vw;
    color: #000;
    font-weight: 400;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    border: none;
    cursor: pointer;
   background: transparent;
   border: 1px solid white;
   color: white;
}
#Search:hover{
    scale: 1.03;
    transition: 0.5s ease;
}
.searchCreate input{
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 12px;
    border: none;
    color: white;
 background-color: #00000048;
    backdrop-filter: blur(5px);
}
.createNote{
    max-width: 55%;
    margin: auto;
    margin-top: 34px;
   border: 1px solid black;
   padding: 23px;
   max-height: 65vh;
   display: none;
   background-color: #00000048;
   backdrop-filter: blur(5px);
   color: white;
   border: 1px solid white;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   z-index: -1;
}
.TitleForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.TitleForm input{
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 12px;
    max-height: 5vh;
    background-color: #ffffff1e;
    backdrop-filter: blur(5px);
    color: white;
    outline: none;
    border: none;
}
.TitleForm textarea{
    background-color: #ffffff1e;
    backdrop-filter: blur(5px);
    color: white;
    border: none;
    outline: none;
    max-height: 33vh;
    border-radius: 6px;
    padding:  0.5vw 2vw 0.5vw 2vw;
}
.TitleForm button{
    width: 8vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.TitleForm .buttons :nth-child(1){
 background: transparent;
 border: 1px solid white;
 color: white;
 
    
}

.TitleForm .buttons :nth-child(2){
    background-color: rgb(255, 255, 255);
    color: #000;

}
.allNotes{
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    padding: 23px;
}
.Disp{
    width: 380px;
    min-height: 150px;
    background-color: #00000048;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    padding: 23px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.Disp:hover{
    scale: 1.03;
    cursor: pointer;
}
.HeadingText{
    padding-bottom: 6px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.dispText{
    width: 350px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 8px;
    color: rgb(150, 150, 150);
}
#btn1{
    background: transparent;
    border: 1px solid white;
    color: #fff;
    width: 6vw;
    height: 4.5vh;
    border-radius: 4px;
    cursor: pointer;
}
#btn2{
    background-color: rgb(255, 255, 255);
    color: #000;
    border: none;
    width: 6vw;
    height: 4.5vh;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
}
.main{
    min-height: 100vh;
    width: 100%;
    background-image: url('./bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-height: 45vh;
    background-color: #00000048;
    color: white;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: none;
   
}
.popup h2{
    text-align: center;
    padding: 6px;
}
.popupForm{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
}
.popup input{
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 12px;
    background-color: #ffffff1e;
    backdrop-filter: blur(5px);
    color: white;
    outline: none;
    border: none;
}
.popup textarea{
    background-color: #ffffff1e;
    backdrop-filter: blur(5px);
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    padding:  0.5vw 2vw 0.5vw 2vw;
}
#create2{
    width: 8vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
#cancel2{
    width: 8vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000;
}
.buttons2{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.dimmed {
    filter: brightness(0.5); 
    transition: filter 0.3s ease;
}
.brighten {
    filter: brightness(1.5);
    transition: filter 0.3s ease;
}
.featureArea{
    display: flex;
    align-items: center;
    gap: 10px;
}
.featureArea h4{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}
#fontSizes{
    border: 1px solid white;
    outline: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 5px ;
    background:transparent;
    color: white;
    
}
#fontSizes option{
    color: white;
    background-color: #000000b7;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.bold{
    font-weight: bold;
}
.bold-text{
    font-weight: bold;
}
#canceled{
    text-decoration: line-through;
}
.italics{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.canceled{
    text-decoration: line-through;
}
.fontColorLabel{
    margin-left: 8px;
    border-bottom: 3px solid white;
}
#fontColor{
    border: 1px solid white;
    outline: none;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    border-radius: 5px ;
    background:transparent;
    color: white;
    position: relative;
}
.colorArea{
    width: 20vw;
   height: 35vh;
    background-color: white;
    position: absolute;
    top: 95%;
    right:1%;
    display: none;
    background-color: #2c2c2cb7;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5px;
    margin: 0;
    padding:6px;
    border: 1px solid white;
    /* 6z-index: 910; */
    z-index: 20;
}
.ColorSchema{
    width: 12%;
    height: 12%;
    cursor: pointer;
}

.flex{
    display: flex;
justify-content: space-between;
}



/*********************************Media Queries*************************************/
@media screen and (max-width: 820px){
    .searchCreate{
        position: absolute;
        bottom: -40px;
    }
    .createNote{
        margin-top: 84px !important;
    }
    .allNotes{
        justify-content: center;
        margin-top: 4.5vw;
    }
    nav{
        
    }

}
@media screen and (max-width: 444px){
    .searchCreate{
        position: absolute;
        bottom: -40px;
    }
    .createNote{
        margin-top: 84px !important;
        max-width: 89%;
    }
    .allNotes{
        justify-content: center;
        margin-top: 8.5vw;
    }
    .colorArea{
        background-color: black;
        width: 54vw;
    }
    nav button{
        padding: 1.5vw 3vw 1.5vw 3vw;
    
    }
    #Search{
        padding: 1.5vw 3vw 1.5vw 3vw;
    
    }
    .TitleForm button{
        width: 25vw;
    }
    #btn1{
        width: 22vw;
    }
    #btn2{
        width: 22vw;
    }
    .popup{
        width: 85%;
    }
    #create2{
        width: 19vw;
    }
    #cancel2{
        width: 19vw;

    }
    .searchCreate{
        gap: 7px;
    }
    .searchCreate input{
        padding: 2.5vw 2vw 2.5vw 2vw;
    }
    

}
@media screen and (max-width: 385px){
    .Disp{
        width: 338px;
    }
    nav h1{
        margin-left: -27px;
    }
}
@media screen and (max-width: 335px){
    
    .Disp{
        width: 294px;
    }
}